* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1rem; /* Tamaño de la fuente */
    color: #000000;  /* Color del texto */
    line-height: 1.6; /* Espaciado entre líneas */
    padding: 20px 45px;
}

hr {
    margin: 0 43px 20px 43px;
    width: auto; 
    background-color: #dfdfdf; 
    height: 1px;
    border: none; /* Elimina el borde predeterminado de la línea */
}

/* Contenedor para la imagen de fondo */
.background-image {
    position: relative; /* Necesario para que el formulario pueda ser posicionado encima */
    width: 100%; /* Escala al 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 1920px; /* Limita el tamaño máximo de la imagen */
    }

nav {
    display: flex;
    align-items: center;
}

/* Estilos del menú */
header {
    width: 100%;
    background-color: #2f4169;
    height: 60px;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #f16315;
}

header nav ul {
    display: flex;
    /* gap: 2rem; */
    align-items: center;
}

ul {
    list-style: none; /* Elimina los estilos de viñetas predeterminados */
    /* padding: 0;
    margin: 0; */
}

li {
    display: inline-block; /* Hace que los elementos de la lista sean en línea */
    color: white; /* Cambia el color de la tipografía a blanco */
    font-size: 0.75rem; /* Equivale 14px */
    padding: 0.5rem 1rem; /* Ajusta el espacio alrededor del texto */
    text-align: center;
}

/* Añadir un hover */
li:hover {
    background-color: #536394;
    height: 55px;
    display: flex;
    align-items: center; 
}

.form {
    position: absolute; /* Posiciona el formulario encima de la imagen */
    width: 65%;
    height: auto;
    margin-left: auto;
    top: 14%; /* Ajusta la posición vertical del formulario */
    left: 66%;
    transform: translateX(-50%); /* Ajusta para centrar el formulario */
    background-color:#f5f5f5;
    /* padding: 20px; */
    /* border-radius: 8px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra ligera */
    z-index: 10; /* Asegura que el formulario esté por encima de la imagen */
}

/* Flexbox en columna para el label y el input */
.form-row {
    display: flex;
    justify-content: flex-start; /* Alinea los select a la izquierda */
    margin: 0 0 25px 50px; /* Espaciado alrededor de los grupos */
    gap: 20px; /* Añade espacio entre los select */
}

.form-row-final {
    display: flex;
    justify-content: flex-start; /* Alinea los select a la izquierda */
    margin: 0 0 160px 50px; /* Espaciado alrededor de los grupos */
    gap: 20px; /* Añade espacio entre los select */
}

/* Flexbox en columna para el label y el select */
.form-group-column {
    display: flex;
    flex-direction: column; /* Coloca el label arriba del select */
    width: 30%; /* Ajusta el ancho de cada columna */
}

/* Columna para descripción */
.descripcion-column {
    display: flex;
    flex-direction: column;
    width: 62%;
}

/* Estilos para el textarea */
.description-text textarea {
    width: 100%; /* Asegura que el textarea ocupe todo el ancho de la columna */
    height: 85%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    resize: none; /* Evita que el usuario cambie el tamaño del textarea */
    border: 1px solid #1709b9;
    border-radius: 4px;
}

/* Contenedor para los botones, alineados horizontalmente */
.button-group {
    display: flex;
    flex-direction: column; /* Coloca los botones en columna */
    /* gap: 10px; Añade espacio entre los botones */
    width: 30%;
    margin-top: 19px;
}

/* Estilos para los botones */
.button-group button {
    border: 1px solid #1709b9;
    border-radius: 4px;
    color: #1709b9;
    background-color:#f5f5f5;
}

/* Cambia el color al pasar el ratón por encima */
.button-group button:hover {
    background-color: #1709b9;
    color: white;
}

/* Contenedor para los botones, alineados a la derecha y en una fila */
.button-send {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 10px; /* Añade espacio entre los botones */
}

/* Estilos para los botones */
.button-send button {
    width: auto;
    color: #2f4169;
    background-color: #FAFAFA;
    border: 1px solid #666666;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo para el botón cuando está deshabilitado */
button:disabled {
    background-color: #ccc; /* Color de fondo gris para dar la apariencia de deshabilitado */
    cursor: not-allowed; /* Cambiar el cursor a "no permitido" */
    color: #666; /* Cambiar el color del texto para que luzca deshabilitado */
    border: 1px solid #999; /* Cambiar el color del borde para que combine con el fondo */
    opacity: 0.6; /* Hacer que se vea más claro para resaltar que está deshabilitado */
}

/* Evitar hover y clics en el botón deshabilitado */
button:disabled:hover {
    background-color: #ccc; /* Mantener el color gris al hacer hover */
    color: #666; /* Mantener el color del texto */
    cursor: not-allowed; /* Asegurarse de que el cursor sigue siendo no permitido */
}

/* ------------ SELECT PERSONALIZACIÓN --------------*/
/* label {
    margin-bottom: 5px; /* Espacio entre label y select
} */

.custom-select {
    position: relative;
    width: 100%;
}

select {
    width: 100%;
    height: 34px;
    padding-left: 10px;
    border: 1px solid #666666;
    border-radius: 4px;
    font-size: 1rem;
    color: #666666;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;

    /* Elimina la apariencia predeterminada */
    -webkit-appearance: none; /* Safari y Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Estilo estándar */
}

.custom-select::after {
    content: '\02EF'; /* Flecha hacia abajo */
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 2rem;
    color: #666666;
}

option {
    padding: 10px;
    background-color: white;
    color: #666666;
}

/* Estilo para Safari */
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
        input[type="date"], input[type="time"] {
            color: #666666; /* Color del texto */
            background-color: white; /* Color del fondo */
            font-size: 1rem; /* Tamaño de la fuente */
        }
    }
}

/* Aplica los mismos estilos al input[type="date"] y al input[type="text"] */
input[type="date"], input[type="text"], input[type="time"] {
    width: 100%;
    height: 34px;
    padding-left: 10px;
    border: 1px solid #666666;
    border-radius: 4px;
    font-size: 1rem;
    color: #666666;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;

    /* Elimina la apariencia predeterminada */
    -webkit-appearance: none; /* Safari y Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Estilo estándar */
    position: relative;
}

/* Contenedor para el ícono personalizado del calendario */
.custom-date {
    position: relative;
    width: 100%;
    color: #666666
}

/* Estilos para el ícono del calendario */
.custom-date::after {
    /* content: '\1F4C5'; Icono de calendario */
    font-size: 1.5rem;
    /* color: #666666; */
    position: absolute;
    right: 10px;
    top: 61%;
    transform: translateY(-50%);
    pointer-events: none; /* Hace que el ícono sea clickeable */
}

/* Estilos para popup y listas */
#documentos-popup label[for="documentosrequeridos"],
#documentos-container label[for="documentosfaltantes"],
#seguimiento-popup label[for="seguimiento"],
#seguimiento-container label[for="metodo"],
#documentos-sin-documento-popup label[for="documentos_sin_documento"],
#documentos-sin-documento-container label[for="documentos_seleccionados_sin_documento"],
#documentos-sin-apostillar-popup label[for="documentos_sin_apostillar"],
#documentos-sin-apostillar-container label[for="documentos_seleccionados_sin_apostillar"],
#informacion-popup label[for="informacion-requerida"],
#informacion-container label[for="informacion-seleccionada"] {
    font-weight: bold;
}

#documentos-popup p, #seguimiento-popup p, #documentos-sin-apostillar-popup p, #documentos-sin-documento-popup p, #informacion-popup p {
    padding: 0; 
    padding-top: 5px;
    font-size: 1rem; /* Reduce el tamaño de la tipografía */
    color: #f16315;
}

#documentos-popup,
#seguimiento-popup,
#documentos-sin-apostillar-popup,
#documentos-sin-documento-popup,
#informacion-popup {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: .75rem;
    width: 30%;
    /* position: fixed; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; */
}

input[type="checkbox"], input[type="radio"] {
    margin-top: .75rem;
    margin-right: .5rem;
}

button {
    padding: 5px 10px;
    margin-top: .75rem;
}

ul#documentos-seleccionados li, 
ul#metodo-seleccionado li,
ul#documentos-seleccionados-sin-apostillar li,
ul#documentos-seleccionados-sin-documento li, 
ul#informacion-seleccionados li{
    font-size: 1rem;
    color: #666666;
    display: block;
    text-align: left;
    padding: 5px 10px;
}

.status-last-section {
    margin-top: 10px;
}

#statuslast {
    background-color: #f0f0f0; /* Un color de fondo para indicar que el campo no es editable */
    border: 1px solid #ccc; /* Bordes sutiles */
    padding: 5px 10px;
    color: #666666;
    width: 49%;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho del input */
    cursor: not-allowed; /* Cambia el cursor a un icono que indica que no es editable */
}

#statusfinal {
    background-color: #f0f0f0; /* Un color de fondo para indicar que el campo no es editable */
    border: 1px solid #ccc; /* Bordes sutiles */
    padding: 5px 10px;
    color: #666666;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho del input */
    cursor: not-allowed; /* Cambia el cursor a un icono que indica que no es editable */
    margin-top: 32px;
}

ul#documentos-seleccionados li:hover,
ul#metodo-seleccionado li:hover,
ul#documentos-seleccionados-sin-apostillar li:hover,
ul#documentos-seleccionados-sin-documento li:hover, 
ul#informacion-seleccionados li:hover {
    background-color: inherit;
    color: #666666;
    height: fit-content;
}



